@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<TODO_APP1.Models.Todos>

<head>
<link  href="~/css/Todo.css" rel="stylesheet" type="text/css" media="all"/>
<script src="~/lib/jquery/dist/jquery.js" ></script>

<!--import pentru componetele Polymer-->
<script src="~/lib/webcomponentsjs/webcomponents.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<link rel="import" href="~/lib/paper-card/paper-card.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>

<!--<div class="task-list">
    <h3>Your tasks</h3>

    <div class="todo-task">
        <div id="task-header"></div>
        <div id="task-date"></div>
        <div id="task-description"></div>
    </div>
</div>
<input type="button" onclick="GetTodos();" value="press to see todo"/>-->
<p style="margin-top: 25px"> Welcome back: @User.Claims.FirstOrDefault().Value !</p>
<div class="task-list">
    <h3>Add a task</h3>
    <form asp-controller = "Todo" asp-action="AddTodo" method="post">
        <input type="text" placeholder="Title" name="Title" class="input-field col s12" /> <br>
        <textarea placeholder="Descrtipion" name="Description" class="input-field col s12" ></textarea><br>
        <input type="text" placeholder="Start Date (dd/mm/yyyy)" name="Start" class="input-field col s12"/><br>
        <input type="text" placeholder="Due Date (dd/mm/yyyy)" name="End" class="input-field col s12"/><br>
        <button type="submit" class="btn btn-primary" id="submitBtn" onclick="CheckInput()">Add your todo !</button>
    </form>
</div>
<style is="custom-style" include="demo-pages-shared-styles">
    paper-card{
        --paper-card-header-color: #3f51b5;
        margin: 5px;
    }

    .card-content{
        background-color: #3f51b5;
    }
    .card-actions{
        background-color: #3f51b5;
    }
</style>

<style>
    .task-list {
  width: 250px;
  float: right;
  margin: 0 5px;
  background-color: rgba(168, 197, 210, 0);
  min-height: 240px;
  border-radius: 10px;
  padding-bottom: 15px;
}


</style>
@foreach (var item in Model)
{   
    <paper-card>
        <div class="card-content">@Html.DisplayFor(modelItem => item.Title)</div>
        <div class="card-content">@Html.DisplayFor(modelItem => item.Description)</div>
        <div class="card-content">@Html.DisplayFor(modelItem => item.StartDate)</div>
        <div class="card-content">@Html.DisplayFor(modelItem => item.EndDate)</div>

        <div class="card-actions">
            <paper-button>Done !</paper-button>
        </div>
    </paper-card>
}
<br>
<script>
    function GetTodos() {
        $.ajax({
            url: 'http://localhost:58193/Todo/GetTodos',
            error: function () {
                alert("couldn't fetch any todo");

            },
            contentType: 'json',
            success: function (data) {
                var title = JSON.stringify(data[0]["title"]);
                var description = JSON.stringify(data[0]["description"]);
                var start = JSON.stringify(data[0]["startDate"]);
                var end = JSON.stringify(data[0]["endDate"]);
                //console.log(title, description, start);
                document.getElementById("task-header").innerHTML = "Title " + title;
                document.getElementById("task-description").innerHTML = "Description " + description;
                document.getElementById("task-date").innerHTML = start + "<br> " + end;
            }
        });
    }

    function CheckInput() {
        if (document.getElementsByName("Description").length == 0)
            alert("Please provide a descriprion for your todo !");

        else
            return true;
    }
</script>
<a href="/Users/LogOff">
    <paper-button raised>LogOut</paper-button>
</a>
