@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<TODO_APP1.Models.Todos>

<head>
<link rel="stylesheet" href="~/css/Todo.css" />
<script src="~/lib/jquery/dist/jquery.js" ></script>

<!--import pentru componetele Polymer-->
<script src="~/lib/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="~/lib/paper-card/paper-card.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/polymer/polymer.html" />
</head>
<!--<div class="task-list">
    <h3>Your tasks</h3>

    <div class="todo-task">
        <div id="task-header"></div>
        <div id="task-date"></div>
        <div id="task-description"></div>
    </div>
</div>
<input type="button" onclick="GetTodos();" value="press to see todo"/>-->

<div class="task-list">
    <h3>Add a task</h3>
    <form asp-controller = "Todo" asp-action="AddTodo" method="post">
        <input type="text" placeholder="Title" name="Title" /> <br>
        <textarea placeholder="Descrtipion" name="Description"></textarea><br>
        <input type="text" placeholder="Start Date (dd/mm/yyyy)" name="Start"/><br>
        <input type="text" placeholder="Due Date (dd/mm/yyyy)" name="End"/><br>
        <button type="submit" class="btn btn-lg" id="submitBtn">Add your todo !</button>
    </form>
</div>
@foreach (var item in Model)
{   
    <paper-card heading="Todo">
        <div class="card-content">@Html.DisplayFor(modelItem => item.Title)</div>
        <div class="card-content">@Html.DisplayFor(modelItem => item.Description)</div>
        <div class="card-content">@Html.DisplayFor(modelItem => item.StartDate)</div>
        <div class="card-content">@Html.DisplayFor(modelItem => item.EndDate)</div>

        <div class="card-actions">
            <paper-button>Done !</paper-button>
        </div>
    </paper-card>
}

<script>
    function GetTodos() {
        $.ajax({
            url: 'http://localhost:58193/Todo/GetTodos',
            error: function () {
                alert("couldn't fetch any todo");

            },
            contentType: 'json',
            success: function (data) {
                var title = JSON.stringify(data[0]["title"]);
                var description = JSON.stringify(data[0]["description"]);
                var start = JSON.stringify(data[0]["startDate"]);
                var end = JSON.stringify(data[0]["endDate"]);
                //console.log(title, description, start);
                document.getElementById("task-header").innerHTML = "Title " + title;
                document.getElementById("task-description").innerHTML = "Description " + description;
                document.getElementById("task-date").innerHTML = start + "<br> " + end;
            }
        });
    }
</script>
<paper-button raised>@Html.ActionLink("Logout", "LogOff", "Users")</paper-button>
